body{
    margin: 0;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
  }
#title{
    font-size: 100px;
    font-style: bold;
}
#name{
    font-size: 100px;
}
.t{
    font-size: 30px;
}
